body {
  background-color: #e0f2f1;
}

body #box {
  position: relative;
  
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -150px;
  /*set to a negative number 1/2 of your width*/
}