<!DOCTYPE html>
<html>
<head>
	<title>Pagina di benvenuto</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Import benvenuto.css-->
    <link type="text/css" rel="stylesheet" href="../css/benvenuto.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
</head>

<body>
    
    <!--navbar-->
     <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo "><i><b>ASPS</b></i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="left material-icons">perm_identity</i>Mario Rossi</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="left material-icons">perm_identity</i>Mario Rossi</a></li>
          </ul> 
          <ul class="side-nav" id="mobile-demo">
                <li><a></a></li>
            </ul>
          <ul class="tabs tabs-transparent">
              <a id="txt_lunedi" style="visibility:visible">LUNEDI</a>
              <a id="txt_martedi" >MARTEDI</a>
              <a id="txt_mercoledi" style="visibility:hidden">MERCOLEDI</a>
              <a id="txt_giovedi" id="txt_lunedi"style="visibility:hidden">GIOVEDI</a>
              <a id="txt_venerdi"style="visibility:hidden">VENERDI</a>
              <a id="txt_sabato"style="visibility:hidden">SABATO</a>
              <a id="txt_domenica" style="visibility:hidden">DOMENICA</a>
          </ul>
        </div>
      </nav>
    
     <!--tab1-->
      <div id="lunedi" class="col s12" >
          <h5 class="center-align"><b>Pasti del Lunedì</b></h5>  
          
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <button class="waves-effect waves-light btn"   onclick="apri('lunedi','martedi')">Successivo</button>
              </div>
          
        </div>
     <!--tab2-->
      <div id="martedi" class="col s12" style="display:none;">
        <h5 class="center-align"><b>Pasti del Martedì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" onclick="apri('martedi','mercoledi')">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab3-->
      <div id="mercoledi" class="col s12" style="display:none;">
          <h5 class="center-align"><b>Pasti del Mercoledì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" onclick="apri('mercoledi','giovedi')">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab4-->
      <div id="giovedi" class="col s12" style="display:none;">
          <h5 class="center-align"><b>Pasti del Giovedì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" onclick="apri('giovedi','venerdi')">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab5-->
      <div id="venerdi" class="col s12" style="display:none;">
          <h5 class="center-align"><b>Pasti del Venerdì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" onclick="apri('venerdi','sabato')">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab6-->
      <div id="sabato" class="col s12" style="display:none;">
          <h5 class="center-align"><b>Pasti del Sabato</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  onclick="apri('sabato','domenica')">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab7-->
      <div id="domenica" class="col s12" style="display:none;">
          <h5 class="center-align"><b>Pasti della Domenica</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" type="submit">Invia<i class="material-icons right">input</i></a>
                </div>
          </form>
        </div>
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!--Import script-->
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>