<!DOCTYPE html>
<html>
<head>
	<title>Pagina di benvenuto</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Import benvenuto.css-->
    <link type="text/css" rel="stylesheet" href="../css/benvenuto.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
</head>

<body>
    
    <!--navbar-->
     <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo "><i><b>ASPS</b></i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="left material-icons">perm_identity</i>Mario Rossi</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="left material-icons">perm_identity</i>Mario Rossi</a></li>
          </ul> 
          <ul class="side-nav" id="mobile-demo">
                <li><a></a></li>
            </ul>
          <div class="tabs tabs-transparent" style="overflow:hidden">
             <div class="center-align"><h5><b>Scelta del menu</b></h5></div>
          </div>
        </div>
      </nav>
      <div class="container">
         <!--tab1-->
          <div id="lunedi" class=" card-panel" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Lunedì</span></div>
                <div class="col s2"><span><i class="little material-icons">done</i></span></div>
              </div>
            <div style=" display:none">
                <div class="row ">
                    <a>Primo</a>
                </div>                
                <div class="row">
                    <a>Secondo</a>
                </div>
              </div>
          </div>
         <!--tab2-->
          <div id="martedi" class=" card-panel col s12" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Martedì</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
              
            <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
        <!--tab3-->
          <div id="mercoledi" class=" card-panel col s12" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Mercoledì</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
             <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
        <!--tab4-->
          
          <div id="giovedi" class=" card-panel col s12" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Giovedì</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
            <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
        <!--tab5-->          
          <div id="lunedi" class=" card-panel col s12" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Venerdì</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
            <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
        <!--tab6-->
          
          <div id="lunedi" class=" card-panel col s12" >
            <div class="row">
              <div class="col s10"><span class="flow-text">Sabato</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
            <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
        <!--tab7-->
          <!--<div id="domenica" class="col s12" style="display:none;">
              <h5 class="center-align">Primi</h5>
                  <div class="card-panel">
                      <div class="row">
                          <div class="col s4">
                                <img src="img.png" with="50px" height="50px"/>
                              </div>
                          <div class="col s4">

                          </div>
                          <div class="col s4">

                          </div>
                      </div>
                    </div>
                  <div class="card-panel">
                    </div>
                <h5 class="center-align">Secondi</h5>
                  <div class="card-panel">
                    </div>
                  <div class="card-panel">
                    </div>
                <h5 class="center-align">Contorni</h5>
                  <div class="card-panel">
                    </div>
                  <div class="card-panel">
                    </div>
                  <div class="input-field center-align">
                      <a class="waves-effect waves-light btn"   onclick="indietro('domenica','sabato')">Indietro</a>
                    <a class="waves-effect waves-light btn" type="submit">Invia<i class="material-icons right">input</i></a>
                    </div>
            </div>-->          
          <div id="domenica" class=" card-panel col s12" >
            <div class="row line">
              <div class="col s10" style="line-height:50%"><span class="flow-text" >Domenica</span></div>
                <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
              </div>
            <div  style="display:none">
                <div class="row">
                    <a>Primi piatti </a>
                </div>                
                <div class="row">
                    <a>Secondi piatti</a>
                </div>
                <div class="row">
                    <a  class="waves-effect waves-light btn center-align">invia</a>
                </div>
              </div>
          </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!--Import script-->
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>