<!DOCTYPE html>
<html>
<head>
	<title>Pagina di benvenuto</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Import benvenuto.css-->
    <link type="text/css" rel="stylesheet" href="../css/benvenuto.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
</head>

<body>
    
    <!--navbar-->
     <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><i><b>ASPS</b></i></a>


          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#lunedi">Lunedì</a></li>
            <li class="tab"><a href="#martedi">Martedì</a></li>
            <li class="tab "><a href="#mercoledi">Mercoledì</a></li>
            <li class="tab"><a href="#giovedi">Giovedì</a></li>
            <li class="tab"><a href="#venerdi">Venerdì</a></li>
            <li class="tab"><a href="#sabato">Sabato</a></li>
            <li class="tab"><a href="#domenica">Domenica</a></li>
          </ul>
        </div>
      </nav>
    
     <!--tab1-->
      <div id="lunedi" class="col s12">
          <h5 class="center-align"><b>Pasti del Lunedì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#martedi">Successivo</a>
              </div>
          </form>
        </div>
     <!--tab2-->
      <div id="martedi" class="col s12">
        <h5 class="center-align"><b>Pasti del Martedì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#mercoledi">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab3-->
      <div id="mercoledi" class="col s12">
          <h5 class="center-align"><b>Pasti del Mercoledì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#giovedi">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab4-->
      <div id="giovedi" class="col s12">
          <h5 class="center-align"><b>Pasti del Giovedì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#venerdi">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab5-->
      <div id="venerdi" class="col s12">
          <h5 class="center-align"><b>Pasti del Venerdì</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#sabato">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab6-->
      <div id="sabato" class="col s12">
          <h5 class="center-align"><b>Pasti del Sabato</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn"  type="button" href="#domenica">Successivo</a>
              </div>
          </form>
        </div>
    <!--tab7-->
      <div id="domenica" class="col s12">
          <h5 class="center-align"><b>Pasti della Domenica</b></h5>  
          <form>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="card-panel">
                </div>
              <div class="input-field center-align">
                <a class="waves-effect waves-light btn" type="submit">Invia<i class="material-icons right">input</i></a>
                </div>
          </form>
        </div>
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>